# PlatformIO
.pio/
.pio

# VS Code
.vscode/
.vscode
*.code-workspace

# Temporary files
*.tmp
*~

# Partitions
partitions.bin
partitions.csv.md5
*.bin
*.md5

# Old
old/

# For restore to working firmware v0.1
!firmware_v0.1.bin
!littlefs_webUI_v0.1.bin